.sidebar {
    transition: all ease-in 1.3s;
    background-color: rgb(0, 147, 194);
    border-radius: 10px;
    height: 785px;
    margin-left: 10px;
}

.closed {
    width: min-content;
}

.open {
    width: min-content;
}

.sidebar-item {
    display: flex;
    position: relative;
    align-items: center;
    margin: 20px;
    text-decoration: none;
    color: black;
    font-size: 24px;
    background-color: rgb(31, 212, 225);
    border-radius: 10px;

}

.image-link-block {
    display: flex;
    position: relative;
    align-items: center;


    margin: 15px;
    width: 32px;
    height: 32px;
}

.sidebar-item img {
    width: 32px;
    height: 32px;
}

.sidebar-item span {
    margin-left: 6px;
    margin-right: 20px;

}

.sidebar-item:hover {
    background-color: rgb(1, 63, 139);
}

.sidebar-item.active {
    background-color: rgb(1, 63, 139);
}
